<h1>Enter Password for your  MLP Query</h1>

<%= form_tag({controller:"mlp_queries", action: "display_table", id:@mlp_query[:id]}, {method: "post"}) do %>
  Enter <strong>example</strong> to see a table with fake data</br>
  <%= label_tag(:pswd, "password:") %>
  <%= password_field_tag(:pswd) %>
  <%= submit_tag("submit")%>
<% end %>

<form accept-charset="UTF-8" action="/mlp_queries/5" class="edit_mlp_query" id="edit_mlp_query_5" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="8BKJpXXquAANCoWSxVlkgLKZeLUyolLvJA5tydcp+fE=" /></div>

  <div class="field">
    <label for="pswd">password</label><br />
    <input id="pswd" name="pswd" size="30" type="password" value="example" />
  </div>

  <div class="actions">
    <input name="commit" value="submit" type="submit">
  </div>
</form>


